apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: dinopark-prod-codebuild
  namespace: dinopark-prod
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  - extensions
  - apps
  - networking.k8s.io
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - batch
  resources:
  - jobs
  - cronjobs
  verbs:
  - '*'
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - get
  - create
  - update
  - patch
  - delete
- apiGroups:
  - monitoring.coreos.com
  resources:
  - '*'
  verbs:
  - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: dinopark-prod-codebuild-role-binding
  namespace: dinopark-prod
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: dinopark-prod-codebuild
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: dinopark-codebuild
  namespace: dinopark-prod
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: dinopark-test-codebuild
  namespace: dinopark-test
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  - extensions
  - apps
  - networking.k8s.io
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - batch
  resources:
  - jobs
  - cronjobs
  verbs:
  - '*'
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - get
  - create
  - update
  - patch
  - delete
- apiGroups:
  - monitoring.coreos.com
  resources:
  - '*'
  verbs:
  - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: dinopark-test-codebuild-role-binding
  namespace: dinopark-test
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: dinopark-test-codebuild
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: dinopark-codebuild
  namespace: dinopark-test

