apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: dinopark-dev
  namespace: dinopark-dev
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  - networking.k8s.io
  - extensions
  - apps
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - batch
  resources:
  - jobs
  - cronjobs
  verbs:
  - '*'
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - get
  - create
  - update
  - patch
  - delete
- apiGroups:
  - monitoring.coreos.com
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: dinopark-dev-role-binding
  namespace: dinopark-dev
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: dinopark-dev
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: dinopark-dev
  namespace: dinopark-dev
